#gameBoard {
    margin: auto;
    height: 80vh;
    width: 80vh;
}

#upUI {
    margin: auto;
    height: 10vh;
    width: 80vh;
    background-color: #BBBBBB;
    border: 5px solid #333333;
}

#flags {
    background-color: black;
    color: yellow;
    width: 10%;
    height: 90%;
    border: 3px solid #333333;
    margin: 3px auto;
    text-align: center;
}

.chunk {
    float: left;
    width: calc(100%/8);
    height: calc(100%/8);
    border: 3px solid black;
    text-align: center;
}

#winUI {
    position: fixed;
    top: 40vh;
    height: 20vh;
    width: 100vw;
    background-color: rgba(32, 32, 32, 0.7);
    text-align: center;
    display: none;
    color: white;
}