.UI {
    position: relative;
    top: 0;
    width: 930px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid yellow;
    border-top: 0px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    text-align: center;
    color: white;
}

body {
    background-color: black;
}

#Win {
    position: fixed;
    text-align: center;
    top: 45%;
    height: 20%;
    display: none;
    width: 100%;
    background-color: rgba(32, 32, 32, 0.7);
    color: white;
}

#gameSection {
    margin: auto;
    margin-top: 10px;
    width: 930px;
    height: 558px;
    border: 10px solid gray;
    border-radius: 10px;
    box-sizing: content-box;
}

@keyframes hit {
    from {
        transform: rotateY(0deg);
        opacity: 1;
    }
    to {
        transform: rotateY(720deg);
        opacity: 0;
    }
}

#telescope {
    width: 200px;
    height: 200px;
    position: absolute;
    text-align: center;
}

.targetPhoto {
    animation-name: none;
}

.gameObject {
    position: relative;
}

@keyframes collapse {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(90deg);
    }
}

@keyframes shift1 {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 450px;
    }
}

@keyframes shift2 {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 325px;
    }
}

@keyframes shift3 {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 235px;
    }
}

@keyframes recover {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}