#sheetMusic {
    height: 20vh;
    display: flex;
    justify-content: center;
    /* position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); */
}

#finger {
    height: 5vh;
    display: flex;
    justify-content: center;
}

.finger {
    margin: 3px;
}

#fullscreen {
    width: 100vw;
    height: 100vh;
}

#instrument {
    width: 100vw;
    height: 75vh;
    /* background-color: red; */
}

.piston {
    position: relative;
    float: left;
    /* top: -56%;
    left: 37%; */
}

#UI {
    display: none;
    position: fixed;
    top: 40vh;
    height: 40vh;
    width: 100vw;
    text-align: center;
    /* background-color: red; */
}